<h1>YO</h1>

<%= link_to "New Patient", new_patient_path %>
<br><br>
<% @patients.each do |patient| %>
  <%= link_to patient.name, patient_path(patient) %>
  <%= link_to "Edit", edit_patient_path(patient) %>
  <%= link_to "Delete", patient_path(patient), method: :delete %>

  <br>
  <% end %>